<table class="table">    
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Last Order Date</th>
            <th>Next Predicted Order</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor*="let prediction of predictedOrders">
            <td>{{ prediction.customerName }}</td>
            <td>{{ prediction.lastOrderDate }}</td>
            <td>{{ prediction.nextPredictedOrder }}</td>
            <td><link href="#"></td>
            <td><link href="#"></td>
        </tr>
    </tbody>
</table>

<div *ngIf*="predictedOrders?.length === 0">
    No hay predicciones disponibles.
</div>